body {
  background-color: #ffffff;
}

h1 {
    color: #000000;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:1.2em;
    font-kerning: auto;
    margin-top: 0.7em;
    margin-left: 0.7em;
}

.bio {
    color: #000000;
    @font-face: "../fonts/bebasneue-regular-webfont.woff2";
    font-size:1.2em;
    font-kerning: auto;
    line-height: 1.7em;
    margin-top: 0.7em;
    margin-left: 0.7em;
    max-width: 60em
}

/* Navigation bar */
    .navbar {
    border-radius: 0.3em;
    background-color: #ffffff;
    overflow: hidden;
    }

    /* Link style */
    .navbar a {
    float: right;
    color: #000000;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 0.95em;
    }

    /* Link style on hover */
    .navbar a:hover {
    color: #000000;
    text-shadow: 0.03em 0.01em #000000;
    }

    /* Link style on active */
    .navbar a.active {
    background-color: #000000;
    color: white;
    }